@import 'main';

.tenthSectionStatement{
  background: url(../../images/server.jpeg);
  background-size: cover;
  background-position: center;

  background-attachment: fixed;

  height: 450px;

  .innerStatement{
    background: rgba(0,0,0, .6);

    width: 100%;
    height: 100%;

    .informationContainerHold{
      padding: 0px;

      @media screen and (max-width: 840px)
      {
        padding: 20px;
        padding-top: 20px;
      }

      .informationMainHold{
        padding-top: 135px;

        width: 550px;
        

        @media screen and (max-width: 610px)
        {
          width: 90%;
          padding-top: 80px;
        }

        .topInformation{

          h3{
            font-size: 2.5em;
            font-weight: 500;

            color: white;
          }
        }

        .divide{
          width: 150px;
          height: 2px;

          background: #fff;

          margin-top: 25px;
          margin-bottom: 25px;
        }

        .bottomContent{

          p{
            font-size: 1.3em;
            font-weight: 400;

            color: white;

            line-height: 1.2em;

            @media screen and (max-width: 534px)
            {
              font-size: 1em;
            }
          }
        }
      }
    }
  }
}

.innerWebsite{

  .firstSectionWelcome{
    padding-bottom: 50px;

    .innerWelcomeSection{
      padding: 0px;

      padding-top: 50px;
      padding-bottom: 50px;

      @media screen and (max-width: 840px)
      {
        padding: 20px;
        padding-top: 20px;
      }

      .topMessage{
        padding-left: 0px;
        padding-right: 0px;

        float: none;

        padding-bottom: 25px;

        h3{
          font-size: 2em;
          font-weight: 400;

          line-height: 1.3em;

          color: #333;

          span{
            font-weight: 700;
            color: $primaryColor;
          }
        }
      }

      .divide{
        width: 150px;
        height: 2px;

        background: #eee;
      }

      .bottomMessage{
        padding-top: 25px;

        float: none;
        padding-left: 0px;

        p{
          color: rgb(172, 172, 173);

          font-size: 1.1em;
          font-weight: 400;

          line-height: 1.3em;
        }
      }
    }
  }

  .secondSectionWork{
    background: rgb(249, 249, 249);

    padding-top: 70px;
    padding-bottom: 70px;

    @media screen and (max-width: 767px)
    {
      padding-bottom: 0px;
      padding-top: 50px;
    }
    
    .innerSection{
    	padding: 0px;

      @media screen and (max-width: 840px)
      {
          padding: 20px;
          padding-top: 0px;
        }
    	
    	.topHeaderView{
          margin-bottom: 50px;
    		
    		.innerHeaderView{
    			text-align: left;

              @media screen and (max-width: 767px)
              {
                text-align: center
              }
    			
    			h3{
    				font-size: 2em;
    				font-weight: 500;
    				
    				color: #333;
    			}
    		}
    	}

      .row{
        @media screen and (max-width: 767px)
        {
          margin-bottom: 0px !important;
          margin-left: -15px;
          margin-right: -15px;
        }

        margin-left: -40px;
        margin-right: -40px;

        .serviceBox{
          height: 165px;

          @media screen and (max-width: 990px)
          {
            height: auto;
          }

          @media screen and (max-width: 767px)
          {
            padding-bottom: 20px;
          }

          .innerServiceBox{
            background: white;
            height: 100%;
            padding: 30px;

            border-radius: 3px;
            //border: 2px solid rgba(0,0,0,.1);

            .topArea{

              h3{
                color: #333;

                font-size: 1.5em;
                font-weight: 400;

                .icon{
                  color: $primaryColor;
                }
              }
            }

            .bottomArea{
              padding-top: 15px;

              p{
                line-height: 1.3em;
                color: #acacad;
              }
            }
          }
        }

      }

      .sRowOne{
        margin-bottom: 40px;
      }

      .sRowTwo{
        margin-bottom: 40px;
      }
    }
  }

  

  .thirdSectionStatement{
    background: url("https://images.unsplash.com/photo-1473042904451-00171c69419d?auto=format&fit=crop&w=2575&q=80");
    background-size: cover;
    background-position: center;

    background-attachment: fixed;

    height: 450px;

    .innerStatement{
      background: rgba(0,0,0, .6);

      width: 100%;
      height: 100%;

      .informationContainerHold{
        padding: 0px;

        @media screen and (max-width: 840px)
        {
          padding: 20px;
          padding-top: 20px;
        }

        .informationMainHold{
          padding-top: 135px;

          width: 550px;

          @media screen and (max-width: 610px)
          {
            width: 90%;
            padding-top: 80px;
          }

          .topInformation{

            h3{
              font-size: 2.5em;
              font-weight: 500;

              color: white;
            }
          }

          .divide{
            width: 150px;
            height: 2px;

            background: #fff;

            margin-top: 25px;
            margin-bottom: 25px;
          }

          .bottomContent{

            p{
              font-size: 1.3em;
              font-weight: 400;

              color: white;

              line-height: 1.2em;

              @media screen and (max-width: 534px)
              {
                font-size: 1em;
              }
            }
          }
        }
      }
    }
  }

  .fourthSection{
    background: white;

    padding-top: 70px;
    padding-bottom: 70px;

    @media screen and (max-width: 767px)
    {
      padding-bottom: 0px;
      padding-top: 50px;
    }

    .innerSection {
      padding: 0px;

      @media screen and (max-width: 840px) {
        padding: 20px;
        padding-top: 0px;
      }

      .topHeaderView {
        margin-bottom: 50px;

        .innerHeaderView {
          text-align: left;

          @media screen and (max-width: 767px) {
            text-align: center
          }

          h3 {
            font-size: 2em;
            font-weight: 500;

            color: #333;
          }
        }
      }

      .innerWork{
        @media screen and (max-width: 767px){
          padding-bottom: 10px;
        }

        #generic_price_table {
          background-color: transparent;

          .container{
            padding: 0px;
          }

          .generic_content {
                    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

            background-color: #fff;
            .generic_head_price {
              background-color: #f6f6f6;
              .generic_head_content {
                .head_bg {
                  border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
                }
                .head span {
                  color: #525252;
                }
              }
              .generic_price_tag {
                .price {
                  .sign, .currency, .cent {
                    color: #414141;
                  }
                }
                .month {
                  color: #414141;
                }
              }
            }
            .generic_feature_list ul li {
              color: #a7a7a7;
              span {
                color: #414141;
              }
              &:hover {
                background-color: #E4E4E4;
                border-left: 5px solid $primaryColor;
              }
            }
            .generic_price_btn a {
              border: 1px solid $primaryColor;
              color: $primaryColor;
            }
            &.active .generic_head_price .generic_head_content .head_bg {
              border-color: $primaryColor rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) $primaryColor;
              color: #fff;
            }
            &:hover .generic_head_price .generic_head_content {
              .head_bg {
                border-color: $primaryColor rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) $primaryColor;
                color: #fff;
              }
              .head span {
                color: #fff;
              }
            }
            &.active .generic_head_price .generic_head_content .head span {
              color: #fff;
            }
            &:hover .generic_price_btn a, &.active .generic_price_btn a {
              background-color: $primaryColor;
              color: #fff;
            }
          }
          margin: 50px 0 50px 0;
          font-family: 'Raleway', sans-serif;
        }
        
        /*PRICE COLOR CODE START*/
        
        .row .table {
          padding: 28px 0;
        }
        
        /*PRICE BODY CODE START*/
        
        #generic_price_table .generic_content {
          overflow: hidden;
          position: relative;
          text-align: center;
          .generic_head_price {
            margin: 0 0 20px 0;
            .generic_head_content {
              margin: 0 0 50px 0;
              .head_bg {
                border-style: solid;
                border-width: 90px 1411px 23px 399px;
                position: absolute;
              }
              .head {
                padding-top: 40px;
                position: relative;
                z-index: 1;
                span {
                  font-family: "Raleway",sans-serif;
                  font-size: 28px;
                  font-weight: 400;
                  letter-spacing: 2px;
                  margin: 0;
                  padding: 0;
                  text-transform: uppercase;
                }
              }
            }
            .generic_price_tag {
              padding: 0 0 20px;
              .price {
                display: block;
                .sign {
                  display: inline-block;
                  font-family: "Lato",sans-serif;
                  font-size: 28px;
                  font-weight: 400;
                  vertical-align: middle;
                }
                .currency {
                  font-family: "Lato",sans-serif;
                  font-size: 60px;
                  font-weight: 300;
                  letter-spacing: -2px;
                  line-height: 60px;
                  padding: 0;
                  vertical-align: middle;
                }
                .cent {
                  display: inline-block;
                  font-family: "Lato",sans-serif;
                  font-size: 24px;
                  font-weight: 400;
                  vertical-align: bottom;
                }
              }
              .month {
                font-family: "Lato",sans-serif;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 3px;
                vertical-align: bottom;
              }
            }
          }
          .generic_feature_list ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
              font-family: "Lato",sans-serif;
              font-size: 18px;
              padding: 15px 0;
              transition: all 0.3s ease-in-out 0s;
              &:hover {
                transition: all 0.3s ease-in-out 0s;
                -moz-transition: all 0.3s ease-in-out 0s;
                -ms-transition: all 0.3s ease-in-out 0s;
                -o-transition: all 0.3s ease-in-out 0s;
                -webkit-transition: all 0.3s ease-in-out 0s;
              }
              .fa {
                padding: 0 10px;
              }
            }
          }
          .generic_price_btn {
            margin: 20px 0 32px;
            a {
              border-radius: 50px;
              -moz-border-radius: 50px;
              -ms-border-radius: 50px;
              -o-border-radius: 50px;
              -webkit-border-radius: 50px;
              display: inline-block;
              font-family: "Lato",sans-serif;
              font-size: 18px;
              outline: medium none;
              padding: 12px 30px;
              text-decoration: none;
              text-transform: uppercase;
            }
          }
          transition: all 0.3s ease-in-out 0s;
          -moz-transition: all 0.3s ease-in-out 0s;
          -ms-transition: all 0.3s ease-in-out 0s;
          -o-transition: all 0.3s ease-in-out 0s;
          -webkit-transition: all 0.3s ease-in-out 0s;
          &:hover, .generic_head_price .generic_head_content .head_bg, &:hover .generic_head_price .generic_head_content .head_bg, .generic_head_price .generic_head_content .head h2, &:hover .generic_head_price .generic_head_content .head h2, .price, &:hover .price, .generic_price_btn a, &:hover .generic_price_btn a {
            transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -ms-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            -webkit-transition: all 0.3s ease-in-out 0s;
          }
        }
        
        @media (max-width: 320px) {}
        
        @media (max-width: 767px) {
          #generic_price_table .generic_content {
            margin-bottom: 75px;
          }
        }
        
        @media (min-width: 768px) and (max-width: 991px) {
          #generic_price_table {
            .col-md-3, .col-md-4 {
              float: left;
              width: 50%;
            }
            .generic_content {
              margin-bottom: 75px;
            }
          }
        }
        
        @media (min-width: 992px) and (max-width: 1199px) {}
        
        @media (min-width: 1200px) {}
        
        #generic_price_table_home {
          font-family: 'Raleway', sans-serif;
        }
        
        .text-center h1 {
          color: #7885CB;
          font-size: 30px;
          font-weight: 300;
          text-decoration: none;
          a {
            color: #7885CB;
            font-size: 30px;
            font-weight: 300;
            text-decoration: none;
          }
        }
        
        .demo-pic {
          margin: 0 auto;
          &:hover {
            opacity: 0.7;
          }
        }
        
        #generic_price_table_home {
          ul {
            margin: 0 auto;
            padding: 0;
            list-style: none;
            display: table;
          }
          li {
            float: left;
            + li {
              margin-left: 10px;
              padding-bottom: 10px;
            }
            a {
              display: block;
              width: 50px;
              height: 50px;
              font-size: 0px;
            }
          }
          .blue {
            background: #3498DB;
            transition: all 0.3s ease-in-out 0s;
          }
          .emerald {
            background: #2ECC71;
            transition: all 0.3s ease-in-out 0s;
          }
          .grey {
            background: #7F8C8D;
            transition: all 0.3s ease-in-out 0s;
          }
          .midnight {
            background: #34495E;
            transition: all 0.3s ease-in-out 0s;
          }
          .orange {
            background: #E67E22;
            transition: all 0.3s ease-in-out 0s;
          }
          .purple {
            background: #9B59B6;
            transition: all 0.3s ease-in-out 0s;
          }
          .red {
            background: #E74C3C;
            transition: all 0.3s ease-in-out 0s;
          }
          .turquoise {
            background: #1ABC9C;
            transition: all 0.3s ease-in-out 0s;
          }
          .blue:hover, .emerald:hover, .grey:hover, .midnight:hover, .orange:hover, .purple:hover, .red:hover, .turquoise:hover {
            border-bottom-left-radius: 50px;
            border-bottom-right-radius: 50px;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            transition: all 0.3s ease-in-out 0s;
          }
          .divider {
            border-bottom: 1px solid #ddd;
            margin-bottom: 20px;
            padding: 20px;
            span {
              width: 100%;
              display: table;
              height: 2px;
              background: #ddd;
              margin: 50px auto;
              line-height: 2px;
            }
          }
          .itemname {
            text-align: center;
            font-size: 50px;
            padding: 50px 0 20px;
            border-bottom: 1px solid #ddd;
            margin-bottom: 40px;
            text-decoration: none;
            font-weight: 300;
          }
          .itemnametext {
            text-align: center;
            font-size: 20px;
            padding-top: 5px;
            text-transform: uppercase;
            display: inline-block;
          }
          .footer {
            padding: 40px 0;
          }
        }
        
        .price-heading {
          text-align: center;
          h1 {
            color: #666;
            margin: 0;
            padding: 0 0 50px 0;
          }
        }
        
        .demo-button {
          background-color: #333333;
          color: #ffffff;
          display: table;
          font-size: 20px;
          margin-left: auto;
          margin-right: auto;
          margin-top: 20px;
          margin-bottom: 50px;
          outline-color: -moz-use-text-color;
          outline-style: none;
          outline-width: medium;
          padding: 10px;
          text-align: center;
          text-transform: uppercase;
        }
        
        .bottom_btn {
          background-color: #333333;
          color: #ffffff;
          display: table;
          font-size: 28px;
          margin: 60px auto 20px;
          padding: 10px 25px;
          text-align: center;
          text-transform: uppercase;
        }
        
        .demo-button:hover, .bottom_btn:hover {
          background-color: #666;
          color: #FFF;
          text-decoration: none;
        }

        .workMod{

          .innerWorkMod {
            

            .leftWorkModImage {
              height: 250px;

              @media screen and (max-width: 767px){
                height: 400px;
              }

              @media screen and (max-width: 547px){
                height: 300px;
              }

              padding-left: 0px;
              padding-right: 0px;

              box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

              border-radius: 5px;

              .imageActual {
                width: 100%;
                height: 100%;

                background-size: cover;
                background-position: center;

                border-radius: 5px;
              }
            }

            .rightWorkModInfo {
              padding-top: 25px;
              //@include vertical-align();

              padding-left: 30px;

              @media screen and (max-width: 767px){
                padding-left: 0px;
              }

              .topName {
                padding-bottom: 5px;

                h3 {
                  font-size: 2.3em;
                  font-weight: bold;

                  a {
                    color: $primaryColor;
                    text-decoration: none;
                  }
                }
              }

              .bottomInfo {

                .topMadeWith {

                  h3 {
                    font-size: 1.3em;

                    color: #acacad;

                    span {

                      i {
                        color: $primaryColor;
                      }
                    }
                  }
                }

                .bottomInfoDesc {
                  font-size: 1.2em;
                  font-weight: 400;

                  padding-top: 20px;

                  line-height: 1.3em;
                }
              }
            }
          }
        }
      }
    }
  }

  .fifthSectionStatement{
    background: url("https://images.unsplash.com/photo-1525078603777-7525bc242652?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d469a6b78122e71788191e24d94729f9&auto=format&fit=crop&w=2500&q=80");
    background-size: cover;
    background-position: top;

    background-attachment: fixed;

    height: 610px;

    @media screen and (max-width: 767px)
    {
      height: auto;
    }

    .innerStatement{
      background: rgba(0,0,0, .6);

      width: 100%;
      height: 100%;

      .informationContainerHold{
        padding: 0px;

        @media screen and (max-width: 840px)
        {
          padding: 20px;
          padding-top: 20px;
        }

        .informationMainHold{
          padding-top: 105px;

          width: 100%;

          @media screen and (max-width: 610px)
          {
            width: 90%;
            padding-top: 80px;
          }

          .topInformation{

            h3{
              font-size: 2.5em;
              font-weight: 500;

              color: white;
            }
          }

          .divide{
            width: 150px;
            height: 2px;

            background: #fff;

            margin-top: 25px;
            margin-bottom: 25px;

          }

          .bottomContent{

            p{
              font-size: 1.3em;
              font-weight: 400;

              color: white;

              line-height: 1.2em;

              @media screen and (max-width: 534px)
              {
                font-size: 1em;
              }
            }

            .mainCommunicationsDevices{
              padding-top: 50px;

              .removeLPad{
                padding-left: 0px;

                @media screen and (max-width: 767px)
                {
                  padding-right: 0px;
                }
              }

              .removeRPad{
                padding-right: 0px;

                @media screen and (max-width: 767px)
                {
                  padding-left: 0px;
                }
              }

              .contactMod{
                @media screen and (max-width: 767px)
                {
                  padding: 10px;

                  margin-bottom: 10px;
                }

                .innerContactMod {
                  height: 201px;

                  @media screen and (max-width: 990px){
                    height: 210px;
                  }

                  padding: 20px;

                  background: white;

                  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

                  border-radius: 3px;

                  .topIcon {

                    h3 {
                      text-align: center;

                      font-size: 3.4em;
                      color: $primaryColor;

                    }
                  }

                  .bottomInfo {
                    padding-top: 20px;

                    h3 {
                      text-align: center;
                      font-size: 1.5em;
                      font-weight: 500;

                      a{
                        color: #333;
                        text-decoration: none;
                        border-bottom: 1px solid #333;
                      }
                    }

                    p {
                      text-align: center;

                      font-size: 1.2em;
                      font-weight: 400;

                      padding-top: 10px;

                      color: darken(#acacad, 10%);

                      @media screen and (max-width: 990px){
                        font-size: 1em;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .sixthSectionWork{
    background: white;

    padding-top: 70px;
    padding-bottom: 70px;

    @media screen and (max-width: 767px)
    {
      padding-bottom: 0px;
      padding-top: 50px;
    }

    .innerSection{
      padding: 0px;

      @media screen and (max-width: 840px)
      {
        padding: 20px;
        padding-top: 0px;
      }

      .topHeaderView{
        margin-bottom: 50px;

        .innerHeaderView{
          text-align: left;

          @media screen and (max-width: 767px)
          {
            text-align: center
          }

          h3{
            font-size: 2em;
            font-weight: 500;

            color: #333;
          }

          .divide{
            width: 150px;
            height: 2px;

            background: #eee;

            margin-top: 25px;
            margin-bottom: 25px;

          }

          p{
            margin-top: 15px;
            color: rgb(172, 172, 173);

            font-size: 1.5em;
          }
        }
      }

      .innerAds{
        padding: 30px;
        background: $primaryColor;

        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

        margin-left: -30px;
        margin-right: -30px;

        p{
          line-height: 1.4em;
          font-weight: 600;

          color: white;
        }
      }
    }
  }
}